body {
    background-color:#556;
    background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a), 
    linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
    background-size:80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    }

.row {
    min-height: 100vh;
    .banner {
        min-height: 200px;
        min-width: 100%;
        background-image: url("./banner.jpg");
        background-size: cover;
        background-position: 50% 50%;
        position: relative;
        border: 2px solid blanchedalmond;
        border-radius: 100px;
        padding: 0 !important;
        > div {
            min-height: 100%;
            max-width: 100%;
            background-color: rgba(255, 255, 255, 0.3);
            border: 2px solid transparent;
            border-radius: 100px;
            padding: 15px;
            > p {
                font-size: 30px;
                font-weight: bolder;
                display: flex;
                align-content: center;
                justify-content: center;
                overflow: hidden;
            }
        }
    }
}

.form {
    margin: 10px;
    min-width: 100%;
    border: 2px solid transparent;
    border-radius: 50px;
    display: block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    > form {
        display: inline-block;
        padding-top: 10px;
        > div {
            min-width: 100%;
        }
    }
}

.input-field input {
    color: white
}

.chat-block {
    margin: 10px;
    padding-bottom: 10px !important;
    border: 2px solid wheat;
    border-radius: 50px;
    display: block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    > .input-field {
        display: inline-block;
        min-width: 75%;
        > .button {
            margin-top: 5px;
        }
    }
    > .messages {
        display: inline-block;
        > #messages{
            border: 2px solid transparent;
            border-radius: 50px;
            min-height: 500px;
            max-height: 500px;
            text-align: start;
            font-size: 20px;
            color: white;
            padding: 25px;
        }

    }
}

.scrollbar::-webkit-scrollbar{
    height: 4px;
}
.scrollbar::-webkit-scrollbar-track {
    background-color: rgba(245, 222, 179, 0.3);
    border-radius: 50px;
    margin: 80px 150px;
}
.scrollbar::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background-color: wheat;
}