<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatroom {{ room_name }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        document.addEventListener('DOMContentLoaded', (event) => {
            let socket = io();
            socket.on("connect", function() {
                socket.emit('join', '{{ room_name }}', '{{ username }}');
                console.log(`Connected to {{ room_name }} room`);
            });
            socket.on('message', function(data) {
                    let div = document.createElement('div');
                    div.innerText = `${data["username"]}> ${data["msg"]}`;
                    let firstComponet = document.getElementById('messages').firstChild;
                    document.getElementById('messages').insertBefore(div, firstComponet);
            });
            document.getElementById('send').onclick = function() {
                    let message = document.getElementById('input').value;
                    socket.emit('message', {room_id: '{{ room_name }}', msg: message, username: "{{ username }}"});
                    document.getElementById('input').value = '';
            };
        })
    </script>
</head>
<body>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 text-center">
            <h1 id="roomName">{{ room_name }} chatroom</h1>
            <h2 id="username">Welcome: {{ username }}</h1>
            <div class="row">
                <div class="col-2">
                    <label class="col-form-label" style="font-size: larger;">Message:</label>
                </div>
                <div class="col-8">
                    <input id="input" autocomplete="off" class="form-control" >
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-dark" id="send">發送訊息</button>
                </div>
            </div>
            
            <div id="messages" style="overflow-y: auto;">
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>