
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatroom {{ room_name }}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        document.addEventListener('DOMContentLoaded', (event) => {
            let roomId = document.getElementById('roomName').textContent;
            let socket = io();
            socket.on("connect", function() {
                socket.emit('join', roomId);
                console.log(`Connected to ${roomId} room`);
            });
            socket.on('message', function(msg) {
                    let li = document.createElement('li');
                    li.innerText = msg;
                    document.getElementById('messages').appendChild(li);
            });
            document.getElementById('send').onclick = function() {
                    let message = document.getElementById('input').value;
                    socket.emit('message', {room_id: roomId, msg: message});
                    document.getElementById('input').value = '';
            };
        })
    </script>
</head>
<body>
    <h1 id="roomName">{{ room_name }}</h1>
    <ul id="messages"></ul>
    <input id="input" autocomplete="off"><button id="send">發送訊息</button>
</body>
</html>